{% extends "base.html" %} {% block title %}Artist-Profile - RealTop{% endblock %} {%
block content_main_class %}gradient-container{% endblock %} {% block
content_main %}
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %} {% if category == 'album-profile' %}

{% endif %} {% endfor %} {% endif %} {% endwith %}
  
          <p class="title_search">New Albums</p>
          <ul>
            <li>
                <ul>
                <li>
                <h2>album pic</h2>
                </li>
                <li>
                album
                </li>
                </ul>
                <p>raitng</p>
                <a href="/album-profile-expand">></a>
            </li>
            <li>
                <ul>
                <li>
                <h2>album pic</h2>
                </li>
                <li>
                album
                </li>
                </ul>
                <p>raitng</p>
                <a href="/album-profile-expand">></a>
            </li>
            <li>
                <ul>
                <li>
                <h2>album pic</h2>
                </li>
                <li>
                album
                </li>
                </ul>
                <p>raitng</p>
                <a href="/album-profile-expand">></a>
            </li>
            <li>
                <ul>
                <li>
                <h2>album pic</h2>
                </li>
                <li>
                album
                </li>
                </ul>
                <p>raitng</p>
                <a href="/album-profile-expand">></a>
            </li>
          </ul>

{% endblock %}
