{% extends "base.html" %} {% block title %}Artist-Profile - RealTop{% endblock %} {%
block content_main_class %}gradient-container{% endblock %} {% block
content_main %}
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %} {% if category == 'artist-profile' %}

{% endif %} {% endfor %} {% endif %} {% endwith %}
  <div class="profile-card about-section">
    <ul>
    <li>
    <h1>profile pic</h1>
    <h1>avg</h1>
    </li>
    <li>
    <h1>Artist Name</h1>
    <p>up votes</p>
    </li>
    </ul>
  </div>

  <div class="profile-card about-section">
      <span class="profile-label">Genres</span>
      <br/>
      <span class="profile-value-about">rnb rap new age</span>
      <br/>
      <span class="profile-label">Last release</span>
      <br/>
      <span class="profile-value-about">jan 1 2026</span>
  </div>


  <div class="profile-card about-section">
      <span class="profile-label">Top Albums</span>
      <br/>
      <ul>
      <li>
      <span class="profile-value-about">album title</span>
      <span class="profile-value-about">album title</span>
      <span class="profile-value-about">album title</span>
      </li>
      <span class="profile-label">Top Songs</span>
      <br/>
      <ul>
      <li>
      <span class="profile-value-about">album title</span>
      <span class="profile-value-about">album title</span>
      <span class="profile-value-about">album title</span>
      </li>
  </div>

   <div class="profile-card about-section">
      <span class="profile-label">avg-rating-lyric</span>
      <br/>
      <span class="profile-value-about">100%</span>
      <br/>
      <span class="profile-label">top-comment-lyric</span>
      <br/>
      <span class="profile-value-about">adfshk aksefakfjh sdfgdkf skdgfdsf sfjkdf zsdfkh fhf fhdfdh  dhlh</span>
  </div>

  <div class="profile-card about-section">
      <span class="profile-label">avg-rating-beat</span>
      <br/>
      <span class="profile-value-about">100%</span>
      <br/>
      <span class="profile-label">top-comment-lyric</span>
      <br/>
      <span class="profile-value-about">adfshk aksefakfjh sdfgdkf skdgfdsf sfjkdf zsdfkh fhf fhdfdh  dhlh</span>
  </div>

  <div class="profile-card about-section">
      <span class="profile-label">avg-rating-flow</span>
      <br/>
      <span class="profile-value-about">100%</span>
      <br/>
      <span class="profile-label">top-comment-lyric</span>
      <br/>
      <span class="profile-value-about">adfshk aksefakfjh sdfgdkf skdgfdsf sfjkdf zsdfkh fhf fhdfdh  dhlh</span>
  </div>

  <div class="profile-card about-section">
      <span class="profile-label">avg-rating-cohesive</span>
      <br/>
      <span class="profile-value-about">100%</span>
      <br/>
      <span class="profile-label">top-comment-lyric</span>
      <br/>
      <span class="profile-value-about">adfshk aksefakfjh sdfgdkf skdgfdsf sfjkdf zsdfkh fhf fhdfdh  dhlh</span>
  </div>

{% endblock %}
