{% extends "base.html" %} {% block title %}Artist-Profile - RealTop{% endblock %} {%
block content_main_class %}gradient-container{% endblock %} {% block
content_main %}
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %} {% if category == 'artist-profile' %}

{% endif %} {% endfor %} {% endif %} {% endwith %}
  
          <p class="title_search">Artists</p>
          <ul>
            <li>
                artist
                <a href="artist-profile-expand.html">></a>
            </li>
            <li>
                artist
                <a href="artist-profile-expand.html">></a>
            </li>
            <li>
                artist
                <a href="artist-profile-expand.html">></a>
            </li>
            <li>
                artist
                <a href="artist-profile-expand.html">></a>
            </li>
          </ul>

{% endblock %}
