<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>RealTop</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <header>
      <p>
        <a href="/">RealTop</a>
      <p>
      <p>
        {% if current_user.is_authenticated %} {% if current_user.profile_pic %}
        <img class="avatar" src="{{ current_user.profile_pic }}" alt="Avatar" />
        {% else %}
        <span class="avatar-initial">{{ current_user.username[0]|upper }}</span>
        {% endif %}
        <a href="/profile" class="link-plain"
          >Hi, {{ current_user.username }}</a
        >
        <a href="/logout">Log Out</a>
        {% else %}
        <a href="/auth">Sign Up / Log In</a>
        {% endif %}
      </p>
    </header>

    <main>

      <navbar>
        <a href="" class="btn-nav">HOME</a>
        <a href="" class="btn-nav">BROWSE</a>
        <a href="/browse" class="btn-nav">INVITE</a>
        <a href="" class="btn-nav">FAVORITES</a>
        <a href="/add" class="btn-nav">CHARTS</a>
        <a href="" class="btn-nav">GENRES</a>
        <a href="/add" class="btn-nav">PLAYLIST</a>
        <a href="" class="btn-nav">NEW</a>
        <a href="/add" class="btn-nav">TRENDING</a>
           <input
          type="text"
          id="search"
          name="search"
        /><br /><br />
      </navbar>

    </main>
  </body>
</html>
