{% extends "base.html" %} {% block title %}Artist-Profile - RealTop{% endblock %} {%
block content_main_class %}gradient-container{% endblock %} {% block
content_main %}
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %} {% if category == 'song-profile' %}

{% endif %} {% endfor %} {% endif %} {% endwith %}
  <p class="title_search">New Songs</p>
          <ul>
            <li>
                <ul>
                <li>
                <h2>song pic</h2>
                </li>
                <li>
                song
                </li>
                </ul>
                <p>raitng</p>
                <a href="/song-profile-expand">></a>
            </li>
            <li>
                <ul>
                <li>
                <h2>song pic</h2>
                </li>
                <li>
                song
                </li>
                </ul>
                <p>raitng</p>
                <a href="/song-profile-expand">></a>
            </li>
            <li>
                <ul>
                <li>
                <h2>song pic</h2>
                </li>
                <li>
                song
                </li>
                </ul>
                <p>raitng</p>
                <a href="/song-profile-expand">></a>
            </li>
            <li>
                <ul>
                <li>
                <h2>song pic</h2>
                </li>
                <li>
                song
                </li>
                </ul>
                <p>raitng</p>
                <a href="/song-profile-expand">></a>
            </li>
          </ul>

{% endblock %}
